header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all 0.45s ease;
  }


.logo{
  width: 50%;
  height: 50%;
  padding-right: 350px;
  }
  
  span {
    color: var(--main-color);
  }
  
  .navlist {
    display: flex;
  }
  .navlist a {
    color: var(--second-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    transition: all 0.45s ease;
  }
  .navlist a:hover {
    color: var(--main-color);
  }
  .navlist a.active {
    color: var(--main-color);
  }
  
  #menu-icon {
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
  }

  @keyframes typing {
    from {
      width: 0;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @media (max-width: 668px){
    #menu-icon{
      display: block;
    }
    .navlist{
      position: absolute;
      top: -1000px;
      right: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      background: var(--bg-color);
      text-align: left;
      transition: all .45s ease;
    }
    .navlist a{
      display: block;
      margin: 17px;
      font-size: 20px;
      transition: all .45s ease;
      color: var(--text-color);
    }
    .navlist a:hover{
      color: var(--main-color);
    }
    .navlist a.active{
      color: var(--text-color);
    }
    .navlist.open{
      top: 100%;
    }
  
  }