header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all 0.45s ease;
  }
  .logo {
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  span {
    color: var(--main-color);
  }
  
  .navlist {
    display: flex;
  }
  .navlist a {
    color: var(--second-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    transition: all 0.45s ease;
  }
  .navlist a:hover {
    color: var(--main-color);
  }
  .navlist a.active {
    color: var(--main-color);
  }
  
  #menu-icon {
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
  }
  .typing-demo {
    width: 13ch;
    animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: var(--big-font);
    color: var(--text-color);
    font-weight: 700;
    margin: 0 0 8px;
  }
  @keyframes typing {
    from {
      width: 0;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }